#admin {
    padding-top: 100px;
    margin-left: 100px;
}
.navbar {
    border-bottom: #c0392b 3px solid;
    
}

#mercaderias-pedido li {
    display: inline;
}

.accordion-body {
    width: max-content;
}

.accordion-button {
    padding: 5px;
    margin: 5px;
}

.accordion-header {
    border: lightsteelblue solid 2px;
    padding-right: 10px;
    margin-top: 5px;
}