@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

body {
    background-color: #333;
    color: #fff;
}

.navbar {
    border-bottom: #c0392b 3px solid;
    
}

#home-section {
    background: url('/img/resto.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    
}

#presentacion {
    padding-left: 100px;
    font-family: "Poppins", sans-serif;
    font-size: large;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.home-inner {
    padding-top: 150px;
}

#mercaderia-section {
  font-family: "Poppins", sans-serif;
  padding: 30px;
  background: #16384c;
}

.card {
  background-color: #1D212B; 
  color: #fff;
  width: 280px;
  height: 300px;
  display: block;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: #c0392b 3px solid;
}
.card-img-top {
  padding-top: 5px;
  width: 100%;
  height: 50%;
}

.card-img-top-detalle {
  width: 100%;
  height: 150px
}

.card-title , .card-text , .btn {
  text-align: center;
}

.card-body {
  width: max-content;
  align-items: center;
}

#rta {
  width: min-content;
}

#mercaderia-section-header {
  margin: 25px 50px 30px 50px;
  text-align: center;
}

#img-simbolo{
  padding-top: 150px;
}

#img-simbolo img {
  width: 150px;
}

.btn-group-vertical {
  padding-top: 70px;
  padding-right: 100px;
}
.ver-mas {
  background-color: #c0392b;
  border: #333 solid;
  border-radius: 2em;
}
.table {
  color: #fff;
}

#btn-agregar , #btn-detalles {
  border: #333;
}

#enviar-pedido {
  margin-top: 15px;
}
.form-floating {
  color: black;
}

.modal-content {
  background-color: darkslategrey;
}

#detalle-nombre {
  text-align: center;
}




.login-box{
  margin-top: 100px;
    width: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h3{
    float: left;
    font-size: 30px;
    border-bottom: 6px solid #4caf5e;
    margin-bottom: 30px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid  #4caf5e;
}
.textbox i{
    width: 16px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
    padding-left: 5px;
}


#btn-login , #btn-agregar{
  
  border: 2px solid  #4caf5e;
  
}

#btn-registrarse , #btn-detalles {
  border: 2px solid rgb(76, 82, 88);
}